<h1> have you been satified  </h1>
<h2> please let us a comment </h2>
<form>

    <fieldset>
        <label for="firstname" >First Name</label>
        <input type="text"  name="account_firstname"  id ="account_firstname " size ="10" required>
        <label for="firstname" >Last Name</label>
        <input type="text"  name="account_lastname"  id ="account_lastname " size ="10" required>
         

       
        <label for="email" >Email Address</label>
        <input type="email" id="email" name="account_email" pattern="[a-zA-Z0-9._%+-]+@byui\.edu$" required placeholder="Please use your school email address">
        <textarea name="message" rows="10" cols="30"></textarea>
        <br><br>
  <button type ="submit">send </button>
    </fieldset>

    </fieldset>
</form>