<h1>
welcome to CSE motors </h1>
<%- messages() %>

<img src="C:\Users\USER\Desktop\cse340\cse340\public\images\vehicles\delorean.jpg" alt="delorean" >
<div class="card1">
    <h2>DMC Delorean</h2>
     3 cup holders
    superman doors 
    fuzzy dice!
</div>
<section>
    <h1> Delorean Upgrades</h1>
    <div class="card">
        <img src="C:\Users\USER\Desktop\cse340\cse340\public\images\upgrades\bumper_sticker.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
      <div class="card">
        <img src="C:\Users\USER\Desktop\cse340\cse340\public\images\upgrades\flame.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
      <div class="card">
        <img src="C:\Users\USER\Desktop\cse340\cse340\public\images\upgrades\flux-cap.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
      <div class="card">
        <img src="C:\Users\USER\Desktop\cse340\cse340\public\images\upgrades\hub-cap.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>


</section>

<section>
    <h1> DMC Delorean Reviews</h1>
    <ul>
    <li> "so fast it is almost travelling in time.
        (4/5)</li>
    <li>"coolest ride on the road " </li>
    <li> " i'm felling MCFly" (5/5)</li>
    <li> "the most futuristic ride of our day" (4.5/5) </li>
    <li> "80"s livin and love it!(5/5) </li>
</ul>

</section>
